$primary-color1: hsl(158, 36%, 37%);
$primary-color2: hsl(30, 38%, 92%);
$neutral-color1: hsl(212, 21%, 14%);
$neutral-color2: hsl(228, 12%, 48%);
$neutral-color3: hsl(0, 0%, 100%);
$hover-color: hsl(158, 36%, 20%);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin centerContentVertically(){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin priceLayout(){
    display: flex;
    align-items: center;
    gap: 1.5em;
}

@mixin montserrat($size, $weight){
    font-family: "Montserrat", sans-serif;
    font-weight: $weight;
    color: $neutral-color2;
    font-size: $size;
}

@mixin fraunces($size, $color){
    font-family: "Fraunces", serif;
    font-size: $size;
    color: $color;
    line-height: 1;
}